.movieList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.button-container {
    display: flex;
    gap: 1rem;
}

@media (max-width: 768px) {
    .movieList {
        grid-template-columns: 1fr;
    }

    .button-container {
        display: flex;
        justify-content: space-between;
    }
}