.profile-buttons {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

@media (max-width: 1023px) {
  .profile-buttons {
    display: flex;
    align-items: center;
    margin-top: 40px;
  }

  p {
    text-align: center;
    
  }
}

@media (max-width: 768px) {
  .profile-buttons {
    display: grid;
    align-items: center;
    margin-top: 40px;
  }

  p {
    text-align: center;
    
  }
}
