.random-movie-container {
	display: flex;
	justify-content: center;
	margin-top: 3rem;
	gap: 3rem;
}

.random-movie-container form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

@media (max-width: 1023px) {
	.random-movie-container {
		display: grid;
	}

	.random-movie-container form {
		display: grid;
	}

}


