.favorite-card {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 300px;

    background: #f5f5f5;
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: 0rem;
    text-decoration: none;
    color: inherit;
}

.favorite-poster {
    width: 120px;
    height: 180px;
    object-fit: cover;
}

.favorite-card h2 {
    font-size: 1rem;
    margin: 0.75rem 0.75rem 0.4rem;
}
